
# documents: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

[*]
# 缩进方式: <"tab" | "space">
indent_style = space
# 缩进大小（以单倍行距字符表示）: <int | "tab">
indent_size = 2
# 单个制表位字符的宽度: <int>
# tab_width: 4
# 行尾文件格式: <"lf" | "crlf" | "cr">
end_of_line = lf
# 文件字符编码: <"utf-8" | "latin1" | "utf-16be" | ...> see: https://github.com/editorconfig/editorconfig/wiki/Character-Set-Support
charset = utf-8
# 表示是否从行尾删除空格: <boolean>
trim_trailing_whitespace = true
# 表示文件是否应以换行符结尾: <boolean>
insert_final_newline = false


[*.md]
trim_trailing_whitespace = true
insert_final_newline = false


[*.{ts,tsx}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
